name: CI/CD pipeline

on:
    push:
        branches: ["main"]

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Source Code
              uses: actions/checkout@v4

            - name: Setup JDK 17
              uses: actions/setup-java@v3
              with:
                  java-version: '17'
                  distribution: 'temurin'

            - name: Build with Gradle
              run: |
                  chmod +x ./gradlew
                  ./gradlew clean build -x test

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{secrets.DOCKER_USERNAME}}
                  password: ${{secrets.DOCKER_PASSWORD}}

            - name: Build and Push Docker Image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  push: true
                  tags: |
                      ${{secrets.DOCKER_USERNAME}}/momeok-server:latest
                      ${{secrets.DOCKER_USERNAME}}/momeok-server:${{github.sha}}

            - name: Copy docker-compose to Server
              uses: appleboy/scp-actions@v0.1.4
              with:
                  host: ${{secrets.AWS_HOST}}
                  username: ubuntu
                  key: ${{secrets.AWS_SSH_KEY}}
                  source: "docker-compose.prod.yml"
                  target: "/home/ubuntu/momeok"

            - name: Deploy to AWS Lightsail
              uses: appleboy/ssh-action@v0.1.10
              with:
                  host: ${{secrets.AWS_HOST}}
                  username: ubuntu
                  key: ${{secrets.AWS_SSH_KEY}}
                  script: |
                      cd /home/ubuntu/momeok
                      
                      echo "DB_ROOT_PASSWORD=${{secrets.DB_ROOT_PASSWORD}}" > .env
                      echo "DB_NAME=${{ secrets.DB_NAME }}" >> .env
                      echo "DB_PORT=3306" >> .env
                      echo "REDIS_PORT=6379" >> .env
                      echo "SPRING_PORT=8080" >> .env
                      echo "IMAGE_TAG=${{github.sha}}" >> .env
                      echo "DOCKER_USERNAME=${{secrets.DOCKER_USERNAME}}" >> .env
                      
                      docker pull ${{secrets.DOCKER_USERNAME}}/momeok-server:${{github.sha}}
                      docker-compose -f docker-compose.prod.yml down
                      docker-compose -f docker-compose.prod.yml up -d
                      
                      docker images -q ${{secrets.DOCKER_USERNAME}}/momeok-server | uniq | tail -n +4 | xargs -r docker rmi
                      docker image prune -f